.red-logo{
    color: red;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-weight: bold;
    
}
.navbar-brand{
    margin-left: 30px;
}
.nav-link{
    font-weight: bold;
    font-size: 18px;
}
.fullwidth {
    margin: 0;
    width: 100%;
    text-align: center;
}
#topcontainer p {
    margin-bottom: 0;
    color: #999;
}
p {
    margin: 0 0 10px;
}
p {
    font-size: 16px;
}
#topcontainer h1 span {
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -1.4px;
    font-weight: 400;
    color: #444 !important;
}
#topcontainer h1 {
    padding: 6px 0 10px 0;
    margin-bottom: 0;
    letter-spacing: -1.5px;
    color: #444;
    font-weight: 400;
}
h2 {
    font-size: 30px;
    padding-top: -10px;
  
}
#section2{
    background-color: rgb(242, 103, 104);
    padding-top: 100px;
    margin-top: 50px;
    text-align: center;
    height: 250px;
}
.about{
        display: inline;
        vertical-align: top;
        font-size: 16px;
        margin: 0;
        padding: 0;
        color: white;
        
        
    }

   h4{ font-size: 18px;
   }

   #sec3{
    background: rgb(41, 43, 44);
    padding-top: 100px;   
    text-align: center;
    height: 400px;
}
.search-bar{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: inherit !important;

}

 